<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my chart.js chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        //global options
        Chart.defaults.global.defaultFontFamily = "lato";
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = "#020202";

        let massPopChart = new Chart(myChart,{
            type: 'bar', //bar, horozontalbar, pie, line, doughnut
            data:{
                labels:["game01","game02","game03","game04"],
                datasets:[{
                    barPercentage:0.5,
                    categoryPercentage:0.7,
                    data:[14,7,4,9],
                    //backgroundColor:'green'
                    backgroundColor:[
                        'rgb(18,90,2)',
                        'rgb(255,244,3)',
                        'rgb(187,9,9)',
                        'rgb(18,90,2)'
                    ],
                    borderWidth:2,
                    borderColor:"#020202",
                    barThickness: 60,
                    hoverBorderColor: "#ffd500",
                    hoverBorderWidth:3
                }],
            },
            options:{
                title: { // floating title to be specific
                    display: true,
                    text: 'Longest Killstreak',
                    titleFontSize: 8
                },
                legend:{
                    position: "right",
                    display: false
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 50,
                        top: 50,
                        bottom: 50
                    }
                },
                tooltips:{
                    titleFontSize: 14

                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "kills"
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "games"
                        },
                        ticks: {
                            beginAtZero: true
                        },
                    }]
                }
            }
        })
    </script>

</body>
</html>