<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice Variables</title>
    <script type="text/javascript" src="../static/codApiCalls.js"></script>
</head>
<body>
<h1> Call of Duty Modern Warfare</h1>
<br>
<input id="username" placeholder="enter username">
<input id="platform" placeholder="platform">
<br>
<button onclick="makeApiCallCod()" id="subButton">submit</button>
<br>
<p id="gameName">mode</p>
<p id="kill#">kills: none</p>
<p id="death#">kills: none</p>
<p id="kd#">kill death ratio: none</p>
<p id="down#">downs: none</p>
<p id="topfive#">top five: none</p>
</body>
<footer>
</footer>
</html>