.mediaViewInfo {
    --web-view-name: cod_mult;
    --web-view-id: cod_mult;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: cod_mult;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#cod_mult {
    position: absolute;
    background: #E5E5E5;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    min-height: 720px;
    background-color: rgba(28,33,62,1);
    font-size: 2px;
    overflow: hidden;
    --web-view-name: cod_mult;
    --web-view-id: cod_mult;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#cod_background {
    position: absolute;
    width: 88.80208333%;
    height: auto;
    left: 11.19791667%;
    top: 0;
}

.Search {
    height: 10.18518519%;
    width: 46.51041666%;
    opacity: 0.86;
    position: absolute;
    left: 52.08333333%;
    top: 45.55555%;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
}
.Search_player1 {
    position: relative;
    height: 43.63636364%;
    width: 86.11410118%;
}
.Search_player2 {
    position: relative;
    height: 43.63636364%;
    width: 86.11410118%;
    top: 12.72727273%;
}
.Search_player1 input[type=text] {
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    margin-bottom: 6px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(43,51,91,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
}
.Search_player2 input[type=text] {
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(43,51,91,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
}
.Search button {
    position: absolute;
    font-size: 10em;
    height: 43.63636363%;
    width: 11.62540366%;
    top: 28.18181818%;
    right: 0;
    border: none;
    outline: none;
    background-color: rgba(43,51,91,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
    --web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: codMultiplayerStats.html;
	cursor: pointer;
}
.Search button:hover {background-color: rgba(44,54,129,1);}


.Dropdown_player1 {
    height: 4.44444444%;
    width: 11.61458333%;
    opacity: 0.86;
    position: absolute;
    left: 13.02083333%;
    top: 48.4%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
}
.Dropdown_player2 {
    height: 4.44444444%;
    width: 11.61458333%;
    opacity: 0.86;
    position: absolute;
    left: 26.04166667%;
    top: 48.4%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
}
.Dropdown_player1 button{
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(43,51,91,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
    cursor: pointer;
}
.Dropdown_player2 button{
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(43,51,91,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
    cursor: pointer;
}
.Dropdown_Content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(43,51,91,1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.Dropdown_Content button{
    display: block;
    padding: 14px;
    cursor: pointer;
}

.Dropdown_Content button:hover {background-color: rgba(44,54,129,1);}
.Dropdown_player1:hover button {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.Dropdown_player1:hover .Dropdown_Content button {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}
.Dropdown_player1:hover .Dropdown_Content {display: block;}

.Dropdown_Content button:hover {background-color: rgba(44,54,129,1);}
.Dropdown_player2:hover button {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.Dropdown_player2:hover .Dropdown_Content button {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}
.Dropdown_player2:hover .Dropdown_Content {display: block;}


.Dropdown_Gamemode {
    height: 4.44444444%;
    width: 11.61458333%;
    opacity: 0.86;
    position: absolute;
    left: 39.0625%;
    top: 48.4%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
}

.Dropdown_Gamemode button{
	font-size: 10em;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background-color: rgba(43,51,91,1);
	color: rgba(255,255,255,1);
	border-radius: 4px;
}

.Dropdown_Gamemode:hover button {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.Dropdown_Gamemode:hover .Dropdown_Content button {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}
.Dropdown_Gamemode:hover .Dropdown_Content {display: block;}

.magnifying_glass_Mult1 {
    position: absolute;
    width: 1.04390625%;
    height: 1.856296296%;
    left: 52.65%;
    top: 46.69333%;
    opacity: .7;
    transform: matrix(1,0,0,1,0,0);
}

.magnifying_glass_Mult2 {
    position: absolute;
    width: 1.04390625%;
    height: 1.856296296%;
    left: 52.65%;
    top: 52.43407074%;
    opacity: .7;
    transform: matrix(1,0,0,1,0,0);
}


#Menu {
    position: absolute;
    width: 11.197916667%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#Menu_Option_Volt {
    position: absolute;
    left: 13.99739584%;
    top: 4.907407407%;
    overflow: visible;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: index.html;
    cursor: pointer;
    font-family: Thunder Titan;
    font-style: normal;
    font-weight: normal;
    font-size: 14em;
    color: rgba(255,255,255,1);
    letter-spacing: 0.1px;
}

#Menu_Option_Home {
    position: absolute;
    width: 78.13953488%;
    height: 3.703703704%;
    left: 10.93023256%;
    top: 15.18518519%;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: index.html;
    cursor: pointer;
}
#Menu_Option_Home_Text {
    position: absolute;
    top: 29.82708934%;
    left: 27.2171083804%;
    white-space: nowrap;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
    font-size: 7em;
    color: rgba(234,236,247,1);
}
#Menu_Option_Home_Icon {
    position: absolute;
    width: 21.84627953%;
    height: 87.204611095%;
    left: 0;
    top: 6.397694524%;
}
.Menu_Option_Home_Icon_Top {
    position: absolute;
    width: 100%;
    height: 44.81163252%;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0);
}
.Menu_Option_Home_Icon_Bottom {
    position: absolute;
    height: 55.18836748%;
    width: 77.94117647%;
    left: 11.02941176%;
    bottom: 0;
    transform: matrix(1,0,0,1,0,0);
}

#Menu_Option_League {
    position: absolute;
    width: 78.13953488%;
    height: 3.703703704%;
    left: 10.93023256%;
    top: 24.90740741%;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: league_home.html;
    cursor: pointer;
}
#Menu_Option_League_Text {
    position: absolute;
    top: 29.82708934%;
    left: 27.2171083804%;
    white-space: nowrap;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
    font-size: 7em;
    color: rgba(234,236,247,1);
}
#Menu_Option_League_Icon {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
}

#Menu_Option_CoD_Icon {
    position: absolute;
    top: 35%;
    left: 10.93023256%;
    width: 69.40375436%;
    height: auto;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: cod_home.html;
    cursor: pointer;
}