.mediaViewInfo {
	--web-view-name: codStats;
	--web-view-id: codStats;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: codStats;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
	background-image: url("../static/wp4517150.png");
	background-position-x: 11.19791667%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#codStats {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	--web-view-name: codStats;
	--web-view-id: codStats;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Background {
	position: absolute;
	overflow: visible;
	width: 1706px;
	height: 1080px;
	left: 215px;
	top: 0px;
}
#Home {
	position: absolute;
	left: 73px;
	top: 170px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
#ID001_home {
	position: absolute;
	width: 34px;
	height: 30.308px;
	left: 18px;
	top: 164px;
	overflow: visible;
}
#Group_9_dw {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8_dx {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_20_dy {
	overflow: visible;
	position: absolute;
	width: 34.565px;
	height: 14.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11_dz {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 3.749px;
	top: 13.597px;
	overflow: visible;
}
#Group_10_d {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_21_d {
	overflow: visible;
	position: absolute;
	width: 27.003px;
	height: 17.212px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#VOLT_GG {
	position: absolute;
	left: 24px;
	top: 53px;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: center;
	font-family: Thunder Titan;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#output_onlinepngtools {
	position: absolute;
	width: 37px;
	height: 40px;
	left: 18px;
	top: 269px;
	overflow: visible;
}
#output_onlinepngtools__2__ds {
	position: absolute;
	width: 119px;
	height: 38px;
	left: 37px;
	top: 378px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cod_home.html;
	cursor: pointer;
}
#Component_7___3 {
	position: absolute;
	width: 93px;
	height: 30.308px;
	left: 18px;
	top: 164px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Component_8___3 {
	position: absolute;
	width: 168px;
	height: 40px;
	left: 18px;
	top: 269px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league_home.html;
	cursor: pointer;
}
#League_of_Legends__d {
	position: absolute;
	left: 48px;
	top: 6px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
.Mode{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 244px;
	left: 495px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.Top5{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 244px;
	left: 935px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.KD{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 244px;
	left: 1375px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.Kills{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 482px;
	left: 495px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.Deaths{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 482px;
	left: 935px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.Downs{
	position: absolute;
	width: 320px;
	height: 177px;
	top: 482px;
	left: 1375px;
	background-color: rgba(43,51,91,1);
	border-radius: 4px;
	opacity: 0.95;
	overflow: visible;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.Data{
	position: relative;
	width: 320px;
	height: 177px;
	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 26px;
}



#Graph_Rect {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Graph_Rect {
	position: absolute;
	overflow: visible;
	width: 563px;
	height: 324px;
	left: 299px;
	top: 707px;
}
#Insert_Graph_ {
	left: 476px;
	top: 725px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(234,236,247,1);
}
#BigGraph_Rect {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BigGraph_Rect {
	position: absolute;
	overflow: visible;
	width: 681px;
	height: 336px;
	left: 1020px;
	top: 707px;
}
#Big_Graph_ {
	left: 1274px;
	top: 725px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(234,236,247,1);
}
body {
	font: normal medium/1.4 sans-serif;
	background-color: rgba(28,33,62,1);
}
#table_container {
	margin-left: auto;
	width: 75%;
	margin-right: auto;
	position: relative;
	top: 682px;
	left: 360px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	text-align: center;
	padding: 0.25rem;
	color: white;
}
tbody tr:nth-child(even) {
	background: #191937;
}
tbody tr:nth-child(odd) {
	background: #111229;
}
tbody tr:hover {
	background: #A4a4bf;
}
tr{
	height: 90px;
}
thead{
	background-color: rgba(43,51,91,1);
}