.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(28,33,62,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_511 {
	position: absolute;
	overflow: visible;
	width: 1443px;
	height: 1080px;
	left: 214px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cod1.html;
	cursor: pointer;
}
#Component_7___1 {
	position: absolute;
	width: 93px;
	height: 30.308px;
	left: 18px;
	top: 164px;
	overflow: visible;
}
#Home {
	position: absolute;
	left: 55px;
	top: 6px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
#ID001_home {
	position: absolute;
	width: 34px;
	height: 30.308px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_9 {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 34.565px;
	height: 14.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 3.749px;
	top: 13.597px;
	overflow: visible;
}
#Group_10 {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 27.003px;
	height: 17.212px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#VOLT_GG {
	position: absolute;
	left: 24px;
	top: 53px;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: center;
	font-family: Thunder Titan;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Component_8___1 {
	position: absolute;
	width: 168px;
	height: 40px;
	left: 18px;
	top: 269px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league1.html;
	cursor: pointer;
}
#League_of_Legends_ {
	position: absolute;
	left: 48px;
	top: 6px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
#output_onlinepngtools {
	position: absolute;
	width: 37px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#output_onlinepngtools__2_ {
	position: absolute;
	width: 119px;
	height: 38px;
	left: 37px;
	top: 378px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cod1.html;
	cursor: pointer;
}
#unnamed {
	position: absolute;
	width: 620px;
	height: 276px;
	left: 1117px;
	top: 402px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cod1.html;
	cursor: pointer;
}
#league_of_legends_riot_games_l {
	position: absolute;
	width: 620px;
	height: 276px;
	left: 397px;
	top: 402px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league1.html;
	cursor: pointer;
}