.mediaViewInfo {
	--web-view-name: league1;
	--web-view-id: league1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: league1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#league1 {
	position: absolute;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(28,33,62,1);
	overflow: hidden;
	--web-view-name: league1;
	--web-view-id: league1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#c_o_champion_thresh_spirit_blo {
	position: absolute;
	width: 1705.5px;
	height: 1080px;
	left: 215px;
	top: 0px;
	overflow: visible;
}
#VOLT_GG {
	position: absolute;
	left: 24px;
	top: 53px;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: center;
	font-family: Thunder Titan;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#output_onlinepngtools__2_ {
	position: absolute;
	width: 119px;
	height: 38px;
	left: 37px;
	top: 378px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cod1.html;
	cursor: pointer;
}
#Rectangle_32 {
	opacity: 0.86;
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 800px;
	height: 48px;
	left: 648px;
	top: 492px;
}
#Search_your_Name {
	opacity: 0.86;
	position: absolute;
	left: 715px;
	top: 506px;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#magnifying_glass {
	opacity: 0.86;
	position: absolute;
	width: 20.043px;
	height: 20.048px;
	left: 664.593px;
	top: 504.288px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: error.html;
	cursor: pointer;
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 20.043px;
	height: 20.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_7___2 {
	position: absolute;
	width: 93px;
	height: 30.308px;
	left: 18px;
	top: 164px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Home {
	position: absolute;
	left: 55px;
	top: 6px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
#ID001_home {
	position: absolute;
	width: 34px;
	height: 30.308px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_9 {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 34px;
	height: 13.567px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 34.565px;
	height: 14.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 3.749px;
	top: 13.597px;
	overflow: visible;
}
#Group_10 {
	position: absolute;
	width: 26.503px;
	height: 16.712px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 27.003px;
	height: 17.212px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_8___2 {
	position: absolute;
	width: 168px;
	height: 40px;
	left: 18px;
	top: 269px;
	overflow: visible;
}
#League_of_Legends_ {
	position: absolute;
	left: 48px;
	top: 6px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Merrant;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(234,236,247,1);
}
#output_onlinepngtools {
	position: absolute;
	width: 37px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#DropdownMenu_gamePlatform_bg {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 404px;
	top: 492px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#GamePlatformDropDown_bl {
	opacity: 0;
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#GamePlatformMenu_1_bm {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#Rectangle_507_bn {
	opacity: 0.86;
}
.Rectangle_507_bn {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#psn_bo {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 224px;
	height: 48px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#GamePlatformMenu_prompt {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#Rectangle_507_bi {
	opacity: 0.86;
}
.Rectangle_507_bi {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Game_Platform_bj {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 224px;
	height: 48px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#DropdownMenu_gamePlatform_bg {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 404px;
	top: 492px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#GamePlatformMenu_prompt_bh {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#Rectangle_507_bi {
	opacity: 0.86;
}
.Rectangle_507_bi {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Game_Platform_bj {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 224px;
	height: 48px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Polygon_4 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 13px;
	transform: translate(0px, 0px) matrix(1,0,0,1,196,14) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#GamePlatformDropDown_bl {
	opacity: 0;
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#GamePlatformMenu_1_bm {
	position: absolute;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: league2.html;
	cursor: pointer;
}
#Rectangle_507_bn {
	opacity: 0.86;
}
.Rectangle_507_bn {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#psn_bo {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 224px;
	height: 48px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}