.mediaViewInfo {
    --web-view-name: league_leaderboard;
    --web-view-id: league_leaderboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: league_leaderboard;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#league_leaderboard {
    position: absolute;
    background: #E5E5E5;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    min-height: 720px;
    background-color: rgba(28,33,62,1);
    font-size: 2px;
    overflow: hidden;
    --web-view-name: league_leaderboard;
    --web-view-id: league_leaderboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#League_background {
    position: fixed;
    width: 88.80208333%;
    height: auto;
    left: 11.19791667%;
    top: 0;
}

.Player1{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 2%;
    left: 27%;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    opacity: 0.95;
    overflow: hidden;
}
.Player2{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 2%;
    left: 59%;
    opacity: 0.95;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    overflow: hidden;
}
.Player3{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 102%;
    left: 27%;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    opacity: 0.95;
    overflow: hidden;
}
.Player4{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 102%;
    left: 59%;
    opacity: 0.95;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    overflow: hidden;
}
.Player5{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 202%;
    left: 27%;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    opacity: 0.95;
    overflow: hidden;
}
.Player6{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 202%;
    left: 59%;
    opacity: 0.95;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    overflow: hidden;
}
.Player7{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 302%;
    left: 27%;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    opacity: 0.95;
    overflow: hidden;
}
.Player8{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 302%;
    left: 59%;
    opacity: 0.95;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    overflow: hidden;
}
.Player9{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 402%;
    left: 27%;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    opacity: 0.95;
    padding-bottom: 5%;
    overflow: hidden;
}
.Player10{
    position: absolute;
    width: 30%;
    height: 96%;
    top: 402%;
    left: 59%;
    opacity: 0.95;
    background-color: rgb(43, 51, 91);
    border-radius: 4px;
    padding-bottom: 5%;
    overflow: hidden;
}

.Header{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.Game1{
    position: absolute;
    top: 5%;
    left: 0;
    width: 32.5%;
    height: 100%;
    border-right:2px solid white;
}
.Game2{
    position: absolute;
    top: 5%;
    left: 33.3%;
    width: 33%;
    height: 100%;
    border-right:2px solid white;
}

.Game3{
    position: absolute;
    top: 5%;
    left: 66.9%;
    width: 32.5%;
    height: 100%;
}

.Champion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.Champion img{
    width: 100%;
    height: 100%;
}

.Spell{
    position: absolute;
    top: 23%;
    left:0;
    width: 100%;
    color: white;
}
#Spell0{
    position: absolute;
    top: 0;
    left: 3%;
}
#Spell1{
    position: absolute;
    top: 0;
    left: 55%;
}

.KDA{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 35%;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.Item{
    position: absolute;
    width: 100%;
    top: 45%;
    height: 100%;
}

#Item0{
    position: absolute;
    top: 0;
    left: 0;
}
#Item1{
    position: absolute;
    top: 0;
    left: 55%;
}
#Item2{
    position: absolute;
    top: 10%;
    left: 0;
}
#Item3{
    position: absolute;
    top: 10%;
    left: 55%;
}
#Item4{
    position: absolute;
    top: 20%;
    left: 0%;
}
#Item5{
    position: absolute;
    top: 20%;
    left: 55%;
}
#Item6{
    position: absolute;
    top: 30%;
    left: 25%;
}


#Menu {
    position: fixed;
    width: 11.197916667%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(28,33,62,1);
    overflow: hidden;
}

#Menu_Option_Volt {
    position: absolute;
    left: 13.99739584%;
    top: 4.907407407%;
    overflow: visible;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: index.html;
    cursor: pointer;
    font-family: Thunder Titan;
    font-style: normal;
    font-weight: normal;
    font-size: 14em;
    color: rgba(255,255,255,1);
    letter-spacing: 0.1px;
}

#Menu_Option_Home {
    position: absolute;
    width: 78.13953488%;
    height: 3.703703704%;
    left: 10.93023256%;
    top: 15.18518519%;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: index.html;
    cursor: pointer;
}
#Menu_Option_Home_Text {
    position: absolute;
    top: 29.82708934%;
    left: 27.2171083804%;
    white-space: nowrap;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
    font-size: 7em;
    color: rgba(234,236,247,1);
}
#Menu_Option_Home_Icon {
    position: absolute;
    width: 21.84627953%;
    height: 87.204611095%;
    left: 0;
    top: 6.397694524%;
}
.Menu_Option_Home_Icon_Top {
    position: absolute;
    width: 100%;
    height: 44.81163252%;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0);
}
.Menu_Option_Home_Icon_Bottom {
    position: absolute;
    height: 55.18836748%;
    width: 77.94117647%;
    left: 11.02941176%;
    bottom: 0;
    transform: matrix(1,0,0,1,0,0);
}

#Menu_Option_League {
    position: absolute;
    width: 78.13953488%;
    height: 3.703703704%;
    left: 10.93023256%;
    top: 24.90740741%;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: league_home.html;
    cursor: pointer;
}
#Menu_Option_League_Text {
    position: absolute;
    top: 29.82708934%;
    left: 27.2171083804%;
    white-space: nowrap;
    font-family: Merrant;
    font-style: normal;
    font-weight: normal;
    font-size: 7em;
    color: rgba(234,236,247,1);
}
#Menu_Option_League_Icon {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
}

#Menu_Option_CoD_Icon {
    position: absolute;
    top: 35%;
    left: 10.93023256%;
    width: 69.40375436%;
    height: auto;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: cod_home.html;
    cursor: pointer;
}
